{
    order authz before respond
}

localhost {
	authz "authz_model.conf" "authz_policy.csv"
	respond "Hello, world!"
	...
}
----------------------------------------------------
localhost {
    route {
    	authz "authz_model.conf" "authz_policy.csv"
    }
	respond "Hello, world!"
	...
}